.FrontPage {
  background-image: url("https://img.freepik.com/premium-vector/set-dogs-white-background-cartoon-design_530689-756.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 1100px 85vh;
}

.logo {
  border-radius: "10px";
  width: "5px";
  height: "5px";
}

.CareTips {
  background-image: url("https://res.cloudinary.com/dsv5gok4c/image/upload/v1664490932/PetsCare_hgh5jm.jpg");
  background-repeat: no-repeat;
}
